<IfModule mod_rewrite.c>

# $Id: .htaccess 4 2008-04-30 17:53:52Z remy $
Options +FollowSymLinks +ExecCGI
RewriteEngine On
RewriteBase /

# strip www. from the domain
RewriteCond %{HTTP_HOST} ^www\.leftlogic\.com$ [NC]
RewriteRule ^(.*)$ http://leftlogic.com/$1 [R=301,L]

# used when site is down or making significant upgrades
# RewriteCond %{REQUEST_FILENAME} images
# RewriteRule .* - [L]
# RewriteRule .* down.html

# specific rules 
RewriteRule ^lounge/articles/(.*)$ /projects/$1 [R,L]

# if the file or directory don't exist
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# using 'index.php' because it forces a '/' request to the handler
RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>

# php_value magic_quotes_gpc off