:markdown

  # Using HTML5 and JavaScript to build Web Apps

  HTML5 has gained a lot of attention over the last 12 months. With browsers increasingly supporting the features of the vast JavaScript APIs both in and around the official HTML5 spec, it's making the job of creating awesome applications purely using these web technologies very easy indeed.

  This full day workshop will introduce you to HTML5 with a brief backstory, before diving into the APIs one by one. As well as going through code and showing practical demonstrations, where possible, we'll also talk about the alternatives for old browsers that don't support "awesome" out of the box.

blockquote
  p "Awesome day! Thank you so much Remy for a fantastic workshop! :) looking forward to using my new knowledge!"
  cite - Stuart Elmore

blockquote
  p "The workshop with @rem today was awesome! Learned a bunch and am genuinely excited to use new tech."
  cite - Corey Dunston

:markdown

  ## What will be covered?

  * **Video & audio** – move over Flash
  * **Canvas** – bring on the Mario games
  * **Storage** – like cookies, but tastes so much better
  * **Offline** – forget the web
  * **Geolocation** – finders keepers
  * **Web Workers** – multithreading for the browser
  * **Web Sockets** – pushing data was never so easy

  ## Who is this workshop for?

  You're not expected to have played with HTML5 just yet, but you will need to have a reasonable understanding of HTML & JavaScript. A lot of the individual APIs are being used in popular web sites today both in desktop browsers and mobile, so rest assured that this applies to developers that are working on the web *today*.
