:markdown

  # Professional Training

  #### At Left Logic, we know that many large organisations have in-house development teams. Sometimes it makes more sense to up-skill your own people rather than hiring agencies to develop for you.

  Left Logic has packaged some of our expertise. We now offer specific training workshops to in-house teams wishing to brush up on their development skills, from latest HTML5 technology, mobile development and browser developer tools.

  Left Logic also offers a tailored consultancy service. [Contact us for more information](/contact).

  ## Workshops

ul#training
  for data, slug in public.training._data
    if (data.booking_section)
      li(id="#{ slug }")
        .background
          a(href="/training/#{ slug }")
            span= data.title
  .clearfix

h2 Comments from workshop delegates

blockquote
  p "I thought content level was pitched just right. Very relaxed and friendly atmosphere. A great day."
  cite - George Hedges, Sussex Downs College

blockquote
  p "Remy is a rare type - a developer who understand designers and has a passion for how things look. He presented some complex but elegant jQuery concepts in a straightforward way."
  cite - Andy Birchwood
