:markdown

  # Mobile Web Apps

  Building rich interactive web sites... dare I say web apps - is a reality with the smart phone browsers shipping with all the latest JavaScript and CSS technologies.

  This day long workshop will be a mix of introducing the latest technology & tricks on the mobile device and hands on practical exercises where you'll get to play with what you're learning.

  Although this workshop will have an iOS focus, a lot of the technology we will look at applies to most new WebKit based devices (Android, Playbook, etc) and smartphones running Opera Mobile.

blockquote
  p "Remy's HTML5 for mobile workshop showed me how to do at least three things I'd previously thought were impossible."
  cite - James O'Brien

blockquote
  p "Truly inspiring day spent with Remy on mobile stuff, time to get stuck in. Anyone got and mobile dev they need doing ;)"
  cite - Pete Hotchkin

  //- ## When, where, how much

  //- * **Cost**: £400 + VAT per person
  //- * **When**: 28-Feb 2013
  //- * **Where**: The Lighthouse, Brighton ([map](http://maps.google.co.uk/maps/place?q=the+lighthouse+brighton&cid=1375416526688458247))


:markdown

  ## What you'll learn

  * How to take advantage of unique properties of the mobile device, using some of the latest technologies
  * Handling and working with touch and other mobile specific events
  * Debugging approach: going way, way beyond the bad old alert
  * Working offline: storing application assets and all it's data locally to the device
  * Looking at framework and libraries to speed up development and time to release
  * Deployment optimisations: getting your mobile app to your user real quick

  ## Prerequisites

  * Bring your mobile device, preferably an iPhone or iPad with the latest OS
  * A little knowledge of CSS and JavaScript will help
  * [Google Chrome](http://www.google.com/chrome) or Safari
  * [Node installed](http://nodejs.org/) (make sure it's a recent version)
