:markdown
  # Node: Knowledge Smash & Grab

  Remy has run sell out Node workshops for a couple of years now, and this workshop is a fully packed day of material and exercises to get you up and running quickly with all the fundamentals you need to create your Node backed application.

  Need to convince your boss? [Here's an outline to help](/training/whynode).

blockquote
  p "Today's workshop was excellent, it's got me really excited about JavaScript again."
  cite - Matt Smith

blockquote
  p "Get from dev zero to node hero with a workshop by Remy. More learning in two days than you thought you could take (and still remember it!)"
  cite - Leigh Garland

:markdown
  ## What you'll learn

  * Up and running in 5 minutes
  * Getting past the basics: modules, static servers, application servers
  * Adding real-time: websockets
  * Workflow tools for running and debugging
  * Datastores with Mongo & Mongoose
  * Dependencies with npm
  * Hands on advice for:
    * publishing to github
    * publishing to npm
    * configuring for development
    * deploying to servers

  ## 2 day option available

  ### Day 1: An introduction to Node

  * The basics: Async development, modules, requires, exports and scope
  * Debugging techniques
  * Building web servers: by hand, with Connect, with Express.js
  * Repo control, deploying using npm and release tips

  ### Day 2: Using HTML5 tech with Node

  * Going real time: WebSockets and Socket.IO
  * Building WebSockets from scratch and using Socket.IO
  * Using WebSockets in the browser, with and without support
  * Server sent events and long polling: building the server and clients

  ## What you need for this workshop?

  * [Node installed](http://nodejs.org/) (make sure it's a recent version)
  * Ideally have [git installed](http://help.github.com/git-installation-redirect/) & a [github](http://github.com/) account.
  * A text editor (Sublime Text, TextMate, Coda, Textpad++, etc)
  * A browser with latest technology baked in, like [Google Chrome](http://www.google.com/chrome) for instance
