@background: #ffffff;
@orange: #ee5f03;
@overlay_orange_transparent: rgba(238, 95, 3, 0.85);
@content_width: 68.75rem;

/* Google Fonts - Lato */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format('woff');
}

/* Clearfix */

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* General */

* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}

body {
  background: @background;
  font: 16px/1.8 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Typography */

a {
  text-decoration: none;
  color: @orange;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #333333;
}

h1 {
  font-size: 2.6rem;
  margin: 0 0 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
  margin: 0 0 2rem;
}

h3 {
  font-size: 1.4rem;
  margin: 0 0 2rem;
}

h4 {
  font-size: 1.4rem;
  margin: 0 0 2rem;
  color: #888888;
}

h6 {
  font-size: 1rem;
  margin: 0 0 2rem;
  color: #888888;
}

ul, p {
  margin: 0 0 2rem;
  color: #888888;
}

/* Structure */

.inner {
  max-width: @content_width;
  margin: 0 auto;
}

#content {
  width: 49.5rem;
  float: left;
}

#sidebar {
  width: 16.5rem;
  float: right;
  height: 100rem;

  .sidebar_section {
    background: #f2f2f2;
    padding: 2rem;
    margin: 0 0 3rem;

    h6 {
      margin: 0 0 1rem;
    }

    ul {
      padding: 0 0 0 1.1rem;
    }

    ul:last-child {
      margin: 0;
    }

    p:last-child {
      margin: 0;
    }

    ul, p {
      color: #aaaaaa
    }
  }

  .sidebar_section:last-child {
    margin: 0;
  }
}

/* Sections - used throughout the site to split up, well, sections */

.section {
  width: 100%;
  padding: 3rem;
  position: relative; /* Allows for child absolute positioning */
}

/* Header */

header {
  background: url('../img/shelf.jpg') center bottom;
  background-size: cover;

  .overlay {
    background: @orange;
  }

  .logo {
    float: left;
    line-height: 0;

    img {
      height: 40px;
    }
  }

  /* Navigation */

  nav {
    float: right;
    text-align: right;
    height: 40px; /* Same height as the logo */
    line-height: 40px;

    ul {
      list-style: none;
      height: inherit;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        height: inherit;
        line-height: inherit;
        padding: 0 1.2rem;

        a {
          color: rgba(255, 255, 255, 0.7);
          display: block;
        }

        a:hover {
          color: #ffffff;
        }

        a.active {
          color: #ffffff;
          border-bottom: 2px solid #ffffff;
        }
      }

      li:last-child {
        padding-right: 0;
      }
    }
  }

  /* Title */

  #title {
    padding: 3rem 0 2rem 0;
    color: #ffffff;
    text-align: center;

    h1 {
      font-size: 3rem;
      line-height: 4.5rem;
      color: inherit;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
      width: 40rem;
      margin: 0 auto;
    }
  }
}

.overlay_home {
  background: @overlay_orange_transparent;

  #title {
    padding: 5rem 0 3rem 0 !important;
  }
}

/* Projects */

#projects {
  .section {
    .info {
      float: left;
      width: 26rem;
      padding-top: 2.6rem;
    }

    img {
      float: right;
      width: 520px;
      height: 367px; // Eventually crop images and compress
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }
  }

  #jsbin {
    background: rgba(0, 0, 0, 0.05);
  }

  #jsbin:after {
    content: "";
    background-image: url('../img/projects/jsbin_background.png');
    background-position: center 60px;
    background-repeat: no-repeat;
    background-size: 600px 600px;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  #full_frontal:after {
    content: "";
    background-image: url('../img/projects/full-frontal-2013_background.png');
    background-position: center bottom;
    background-repeat: repeat-x;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  #nodemon {
    background: #008f69;

    h2, a {
      color: #ffffff;
    }

    p {
      color: rgba(255, 255, 255, 0.5)
    } 
  }
}

#projects .section:nth-child(2n) {
  .info {
    float: right;
  }

  img {
    float: left;
  }
}

@media screen and (max-width: 74.75rem) {
  #sidebar {
    display: none;
  }

  #content {
    width: 100%;
  }
}