/* Variables */

@background: #ffffff;
@orange: #f6862c;
@green: #008f69;
@overlay_orange_transparent: rgba(246, 134, 44, 0.88);
@content_width: 68.75rem;

/* Fonts */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format('woff');
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?e5g3nx');
	src: url('../fonts/icomoon.eot?#iefixe5g3nx') format('embedded-opentype'),
		   url('../fonts/icomoon.woff?e5g3nx') format('woff'),
		   url('../fonts/icomoon.ttf?e5g3nx') format('truetype'),
		   url('../fonts/icomoon.svg?e5g3nx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Clearfix */

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* General */

* {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}

body {
  background: @background;
  font: 16px/1.8 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Typography */

a {
  text-decoration: none;
  color: @orange;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid @orange;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 2rem;
  color: #333333;
}

h1 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.6;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.4rem;
  color: #aaaaaa;
}

h6 {
  font-size: 1rem;
  color: #888888;
}

ul, p {
  color: #888888;
  font-size: 1rem;
  margin: 0 0 2rem;
}

blockquote {
  margin: 0 0 2rem;
  border-left: 4px solid rgba(246, 134, 44, 0.4);
  padding-left: 2rem;

  p {
    font-size: 1rem;
    color: #888888;
    margin: 0 0 0.8rem;
  }

  cite {
    color: #bbbbbb;
    display: inline-block;
    font-size: 1rem;
  }
}

code {
  font-size: 1rem;
  background: #dfdfdf;
  display: inline;
  color: #6c5b4d;
  padding: 2px 4px;
  border-radius: 3px;
}

/* Forms */

input, textarea, select {
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  font: inherit;
  font-size: 1rem;
}

input, textarea {
  border: 1px solid #cccccc;
  padding: 0.8rem 1rem 0.6rem;
  resize: none;
  color: #888888;
}

input[type=text], input[type=email] {
  width: 100%;
}

input:focus, textarea:focus {
  border-color: #888888;
}

textarea {
  width: 100%;
  height: 15rem;
}

label {
  display: block;
  margin: 0 0 0.5rem;
  color: #888888;
}

.input {
  margin: 0 0 2rem;
  display: block;
}

.input_text {
  max-width: 30rem;
}

/* Buttons */

.button {
  display: inline-block;
  line-height: 1rem;
  padding: 0.9rem 1.4rem 0.8rem;
  background: @orange;
  color: #ffffff;
  border-radius: 3.2rem;
  border: none;
  font-size: 1rem;

  &:hover {
    background: #333333;
    border: none;
  }

  &:after {
    content: ' \2192'
  }
}

.button_green {
  background: @green;
  color: #ffffff;
}

/* Icons */

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e601";
}

.icon-blog:before {
  content: "\e602";
}

/* Structure */

.inner {
  max-width: @content_width;
  margin: 0 auto;
}

#content {
  width: 47.6rem;
  float: left;

  *:last-child {
    margin-bottom: 0 !important;
  }
}

#sidebar {
  width: 18.5rem;
  float: right;

  .sidebar_section {
    background: #f2f2f2;
    padding: 2rem;
    margin: 0 0 3rem;

    &:last-child {
      margin: 0;
    }

    a {
      color: @green;

      &:hover {
        border-bottom-color: @green;
      }
    }

    .button {
      background: @green;
      color: #ffffff;

      &:hover {
        background: #333333;
      }
    }

    h6 {
      margin: 0 0 1.4rem;
      color: #666666;
    }

    ul {
      padding: 0 0 0 1.4rem;
    }

    ul, p {
      color: #aaaaaa;
      margin: 0 0 1.4rem;

      &:last-child {
        margin: 0;
      }
    }

    input[type=text], input[type=email] {
      width: 100%;
      margin: 0 0 1.4rem;
    }
  }

  a {
    &.sidebar_section {
      display: block;
      border: none;

      &:hover {
        background: #333333;
      }

      &:last-child {
        margin: 0;
      }
    }

    &.sidebar_section_green {
      background: #008f69;

      h6 {
        color: #ffffff;
      }

      p {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

/* Sections */

.section {
  width: 100%;
  padding: 3rem;
  position: relative;
}

/* Header */

header {
  background: url('../img/shelf.jpg') center 100%;
  background-size: cover;

  .overlay {
    background: @overlay_orange_transparent;
  }

  .overlay_home {
    padding: 3rem 1rem;
    background: @overlay_orange_transparent;

    #heading {
     padding: 6rem 0 4rem 0 !important;
    }
  }

  .logo {
    float: left;
    line-height: 0;
    border: none !important;

    img {
      height: 60px;
    }
  }

  /* Navigation */

  nav {
    float: right;
    text-align: right;
    height: 60px; /* Same height as the logo */
    line-height: 60px;

    ul {
      list-style: none;
      height: inherit;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        height: inherit;
        line-height: inherit;
        padding: 0 1.2rem;

        &:last-child {
          padding-right: 0;
        }

        a {
          color: #ffffff;
          display: block;
          border-bottom: 2px solid transparent;

          &:hover, &.selected {
            border-bottom: 2px solid #ffffff;
          }
        }
      }
    }
  }

  /* Heading */

  #heading {
    padding: 3rem 0 2rem 0;
    color: #ffffff;
    text-align: center;

    h1 {
      font-size: 3rem;
      line-height: 4.5rem;
      color: inherit;
      width: 40rem;
      margin: 0 auto;
    }

    .button {
      background: #ffffff;
      color: @orange;
    }
  }
}

/* Projects */

.heading {
  position: relative;
}

.heading_inner {
  font-size: 1rem;
  text-align: center;
  padding: 0.6rem 0;
  font-weight: bold;
  color: #9C9C9C;
  position: absolute;
  top: -1.5rem;
  left: 50%;
  z-index: 999;
  width: 10rem;
  margin-left: -5rem;
  background: #fff;
  border-radius: 5rem;
}

#projects {
  .section {
    .info {
      float: left;
      width: 32rem;
      padding-top: 3.4rem;
    }

    img {
      float: right;
      width: 520px;
      height: 367px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }

    &:nth-child(2n) {
      .info {
        float: right;
      }

      img {
        float: left;
      }
    }
  }

  #jsbin {
    background: rgba(0, 0, 0, 0.05);
    padding-top: 4rem !important;

    &:after {
      content: "";
      background-image: url('../img/projects/jsbin_logo.png');
      background-position: center 60px;
      background-repeat: no-repeat;
      background-size: 365px 512px;
      opacity: 0.15;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
  }

  #full_frontal {
    &:after {
      content: "";
      background-image: url('../img/projects/full_frontal_background.png');
      background-position: center bottom;
      background-repeat: repeat-x;
      opacity: 0.1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
  }

  #nodemon {
    background: rgba(44, 41, 36, 0.74);

    h2, a {
      color: #ffffff;
    }

    a {
      &:hover {
        border-color: #ffffff;
      }
    }

    p {
      color: rgba(255, 255, 255, 0.5)
    }

    &:after {
      content: "";
      background-image: url('../img/projects/nodemon_logo.png');
      background-position: center 60px;
      background-repeat: no-repeat;
      background-size: 455px 512px;
      opacity: 0.15;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
  }
}

/* About */

#about {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    margin: 0 0 2.8rem;

    .about_avatar {
      height: 13.8rem;
      width: 13.8rem;
      position: absolute;
      top: 0.8rem;
      left: 0;
      background-size: cover !important;
      background-position: center center;
    }

    .about_content {
      margin-left: 16.2rem;

      h2 {
        margin: 0;
      }

      .social {
        font-weight: bold;

        a {
          margin-right: 1.4rem;

          &:before {
            font-size: 1.4rem;
            color: @orange;
            position: relative;
            top: 5px;
            margin-right: 0.4rem;
          }

          &:hover,
          &:hover:before {
            border-bottom: 1px solid transparent;
            color: #333333;
          }
        }
      }
    }
  }
}

/* Training */

#training {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;

  li {
    float: left;
    display: block;
    padding: 0 1rem 2rem 0;
    width: 50%;
    height: 15rem;

    &:nth-child(2n) {
      padding-right: 0;
      padding-left: 1rem;
    }

    .background {
      width: 100%;
      height: 100%;
      background-size: cover !important;
      background-position: center center;

      a {
        display: block;
        height: 100%;
        width: 100%;
        background: @overlay_orange_transparent;
        color: #ffffff;
        border: none;
        position: relative;
        font-size: 1.2rem;

        &:hover {
          background: rgba(51, 51, 51, 0.9);
        }

        span {
          display: inline-block;
          position: absolute;
          bottom: 2rem;
          left: 2rem;
          right: 2rem;
        }
      }
    }
  }

  #debug {
    .background {
      background: url('../img/workshops/debug.jpg');
    }
  }

  #node {
    .background {
      background: url('../img/workshops/node.jpg');
    }
  }

  #mobile {
    .background {
      background: url('../img/workshops/mobile.jpg');
    }
  }

  #html {
    .background {
      background: url('../img/workshops/html.jpg');
    }
  }
}

/* Footer */

#work_with_us {
  background: rgba(0, 0, 0, 0.05);
  text-align: center;

  .inner {
    max-width: 45rem;
  }
}

footer {
  background: #333;
  padding: 3rem 3rem 2.7rem;

  p {
    margin: 0;
    color: #888;
  }

  .copyright {
    float: left;
  }

  .contact {
    float: right;
    text-align: right;

    strong {
      color: #fff;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
        margin-left: 15px;
      }
    }
  }
}

/* Media queries */

@media screen and (max-width: 75.75rem) {
  #sidebar {
    float: none;
    width: 100%;
    text-align: center;
  }

  #content {
    float: none;
    width: 100%;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 872px) {
  #training li {
    width: 100%;
    height: 10.3rem;
    padding: 0 0 2rem !important;
  }
}

@media screen and (max-width: 74.75rem) {
  #projects .section .info {
    width: auto;
    padding-top: 0;
  }

  #projects .section img {
    width: 100%;
    height: auto;
  }

  #projects #jsbin {
    padding-top: 3rem !important;
  }

  footer {
    .copyright {
      float: none;
      text-align: center;
    }

    .contact {
      float: none;
      text-align: center;
      margin: 2rem 0 0;
    }
  }
}

@media screen and (max-width: 46rem) {
  header {
    .inner {
      text-align: center;
    }

    .logo {
      float: none;
      position: relative;
      left: -1.9rem;
    }

    nav {
      float: none;
      text-align: center;
      margin: 1rem 0 0;

      li:first-child {
        padding-left: 0;
      }
    }

    #heading {
      display: none;
    }
  }

  #projects #jsbin:after {
    background-size: 265px 332px;
  }
}

@media screen and (max-width: 760px) {
  #about li {
    .about_avatar {
      float: left;
      position: static;
      height: 6rem;
      width: 6rem;
      top: 0;
      margin-bottom: 1rem;
    }

    .about_content {
      margin-left: 0;

      h2, h4 {
        margin-left: 8rem;
        line-height: 2rem;
      }

      p:first-of-type {
        margin: 2rem 0 0 0;
        clear: left;
      }

      p {
        font-size: 1.15rem;
        line-height: 1.5rem;
      }
    }
  }
}

@media screen and (max-width : 480px) {
  #index header {
    background-position: 0;
  }

  header {
    background-position: 0 -6px;
  }

  html {
    font-size: 12px;
  }

  h1, h2, h3 {
    line-height: 1.4;
  }

  .social a {
    display: block;
    font-weight: 200;
    margin-right: 1rem;

    &:before {
      font-size: 2rem;
    }
  }


  header nav ul li {
    line-height: 30px;
    font-size: 1.2rem;

    a:hover,
    a.selected {
      line-height: 30px;
      font-size: 1.2rem;
    }
  }

  ul, p {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  ul {
    padding-left: 2rem;
  }

  .section {
    padding: 2rem 1rem;
  }

  footer.section {
    padding: 2rem;
  }

  footer p {
    font-size: 1rem;
  }

  header {
    .section {
      padding: 1.5rem 1rem 0.5rem 1rem;
    }

    .overlay_home {
      padding: 1.5rem 1rem 2rem 1rem;
    }
  }

  #projects #jsbin {
    padding-top: 2rem !important;
  }

  header nav {
    margin: 0;
    margin-top: 0.5rem;
  }

  header .logo {
    // left: -2.3rem;
    display: block;
    position: static;
    margin-left: -2rem;
  }

  header .logo img {
    height: 35px;
  }

  #work_with_us p {
    text-align: left;
  }
}

/* 404 */

#play {
  box-sizing: content-box;
  position: relative;
  height: 560px;
  height: 399px;
  // 1:1.315
  margin: 0 auto;
  // width: 741px;
  width: 529px;
  border: 1px solid #aaaaaa;
  cursor: crosshair;

  .game {
    background-image: url("../img/bg-grid.gif");
    // background-size: 140px 140px;
    background-position: 0 0;
    display: block;
    // width: 100%;
    // height: 100%;
  }
}

#others {
  list-style: none;
  margin: 0;
  padding: 0 !important;
  overflow: hidden;

  li {
    background: #ffffff;
    width: 40%;
    padding: 0;
    margin: 0 1rem 1rem 0;
    float: left;
    display: inline-block;
    border: 1px solid #ccc;
    opacity: 0.9;

    &:hover {
      opacity: 1;
      border: 1px solid #999;
    }

    img {
      width: 100%;
      cursor: pointer;
      display: block;
    }
  }
}
