- var mons = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
- var next3 = mons[(9 + 3) % 11]

:markdown

  # Contact Us

  #### Get in touch if you need JavaScript development as a client side solution, Node.js server side application or training from Left Logic.

  Currently taking enquiries for #{ (new Date).getYear()+1900 }.

form(action="/contact", method="post")
  .input.input_text
    input(type="text", name="full_name", placeholder="Your name", required)
  .input.input_text
    input(type="email", name="email_address", placeholder="Your email address", required)
  .input
    textarea(name="message", placeholder="Details of work, including deadlines and budget", required)
  .input
    input(class="button", type="submit", value="Send Message")
