:markdown

  # HTML Entity Character Lookup

  #### Using HTML entities is the right way to ensure all the characters on your page are validated. However, often finding the right entity code requires scanning through 250 rows of characters.

  This lookup allows you to quickly find the entity based on how it looks, like an < or the letter c.

  ## HTML Entity Lookup

.input.input_text
  input(type="text", name="full_name", placeholder="HTML entities like, space seperate for more...")

:markdown

  ## Options

input(type="checkbox", name="compressChk", id="compress")
label(for="compress") Small output
input(type="checkbox", name="extendedChk", id="extended")
label(for="extended") Include extended

:markdown

  ## Dashboard Widget

  The HTML entity lookup is also available as a Dashboard widget.

  The widget works in the same way the web version does, and does not require an Internet connection to function. Clicking on the particular row will copy the html entity code to the clipboard. Download the dashboard Entity Lookup widget

  ## Features

  * Search for entity characters based on how they look (taken from the W3C list of entities)
  * Switch between standard and compressed views
  * Copy the HTML entity to the clipboard
  * Add your own keyword terms and characters to entities
  * Settings stored in a browser cookie
  * Available to be installed as a search plugin
  * Available as a Firefox plugin - thanks to Yining

  To reset the keywords, clear your cookies for this page and the default keyword dictionary.

  ## How it works

  The lookup searches the html entities for matches to the searched character based on how your character looks. For instance, the letter <a href="?q=c" rel="c" class="lookupExample">c</a> would match &copy; and &cent; entity, because of the way they look.

  There's no clever logic behind this, only the most powerful computer known to man - man's own brain.

  Each entity has had a list of 'like' matches added to them by hand and eye.  This is stored in a local dictionary file and loaded in during start-up (since it's so small there's no point in using an AJAX like solution).

  The entity lookup also supports word searches and multiple searches space separated, such as <a rel="copy and cent" href="?q=copy%20and%20cent" class="lookupExample">copy and cent</a>.
