h1 404 - Not Found
h4 Nope, looking around and couldn't find what you were looking for.
p If it wasn't important, how about you play in this box I've left you:
#play
  canvas.game(height="400", width="526")
