:markdown

  # About Left Logic

  #### At Left Logic we are constantly engaged in experimentation, pushing the code to improve stability and efficiency, as well creating completely new possibilities.

#about
  for user in team
    != partial("_partials/about", user)