block content

  h1 Contact Us
  h4 Get in touch if you need JavaScript development as a client side solution, Node.js server side application or training from Left Logic.
  p Currently taking bookings for 2014.
  form(action='/contact', method='post')
    .input.input_text
      input(type='text', name='full_name', id='full_name', placeholder='Full Name (required)', required)
    .input.input_text
      input(type='email', name='email_address', id='email_address', placeholder='Email Address (required)', required)
    .input
      textarea(name='message', id='message', placeholder='Message (required)', required)
    .input
      input.button(type='submit', value='Send Message')