block content

  h1 Contact Us
  h4 Regardless of whether your project is big or small, if you want your website to feature the most sublime user experience possible then drop us a line to hire us.
  p Currently taking bookings for 2014.
  .input
    input(type='text', name='full_name', id='full_name', placeholder='Full Name (required)')
  .input
    input(type='email', name='email_address', id='email_address', placeholder='Email Address (required)')
  .input
    textarea(name='message', id='message', placeholder='Message (required)')
  .input
    input.button(type='submit', value='Send Message')