:markdown

  # Hiring

  #### The company is a front end development and JavaScript specialist. JavaScript is stated separately, because Node applications feature a lot in the projects we've worked on.

  ## Headline of employment opportunity

  * Working on JavaScript based project - jsbin.com in particular
  * Where possible, work will be open source
  * £1,000 training budget (paid working days obviously)
  * Salary based on your current experience
  * Free access to Left Logic based events (local workshops Remy runs for instance)
  * 20 days paid holiday (plus bank holidays)
  * 4 days a week in central Brighton office, 1 day flexible time (working from home, during weekend - as you please)
  * MacBook Pro provided (unless you want to use your own machine) and 24 inch cinema display
  * Support any interest in speaking or teaching workshops
  * Non-competing side projects belong to you

  ## Working with JS Bin

  JS Bin is a small to medium sized node project with a lot of features (many of which are unknown). It currently receives around 650,000 unique visitors each day which you'd be releasing bug fixes and new features to.

  During bug fix runs, JS Bin can have multiple releases per day - and there's room to streamline the release process.

  The code is not module (or make use of tools like require) and probably should do, and lots of magic happens with iframes and setTimeouts (48 setTimeout at the last count).

  The project is a passion side project turn primary focus, and the aim is to open the doors to pro users and team accounts as soon as possible so that JS Bin can continue to remain open source and address the concerns and requirements to make it a first class education tool for teachers and trainers across the world.

  # Technology stack
  * node
  * git
  * grunt
  * devtools
  * express / handlebars / mongoose
  * heroku
  * mysql
  * mocha (though we could be a lot better at testing)
  * and more!

  ## A typical day
  * working on jsbin.com feature development and bug fixes and releasing
  * working on client projects
  * hacking on tools like open source tools like twitterwall, twitterlib or any other side project
  * being support staff at one of our workshops or at Full Frontal (or related events)
  * experimenting with hardware and JavaScript (this doesn't happen that often, but something we're interested increasing)
  * attending conferences

  Things Left Logic needs to be better at:

  * Testing
  * Processors (particularly on the CSS side)
  * Leaving the office for lunch!
  * Updating the leftlogic.com site

  ## Get in touch

  If you're interested in applying, please contact us with a covering email as to why you're the person for the job, links to your github profile (or equally some portfolio that shows off your coding chops) and some form of work history (CV or LinkedIn for example).
