block content
  #projects
    .section#jsbin
      .inner
        .info
          h2 JS Bin
          p JS Bin is a form of paste bin, but with a twist. It allows you to also include the HTML and CSS to provide context to your pasty. As such, it means you can actually run the JavaScript and pass this on to a colleague to help to debug.
          a(href='#') View project &rarr;
        img(src='/img/projects/jsbin.png')
        .clearfix
    .section#full_frontal
      .inner
        .info
          h2 Full Frontal
          p JS Bin is a form of paste bin, but with a twist. It allows you to also include the HTML and CSS to provide context to your pasty. As such, it means you can actually run the JavaScript and pass this on to a colleague to help to debug.
          a(href='#') View project &rarr;
        img(src='/img/projects/full-frontal.jpg')
        .clearfix
    .section#nodemon
      .inner
        .info
          h2 nodemon
          p nodemon will watch the files in the directory where nodemon was started, and if they change, it will automatically restart your node application. nodemon simply wraps your node application and keeps an eye on any files that have changed.
          a(href='#') View project &rarr;
        img(src='/img/projects/jsbin.png')
        .clearfix