extends layout

block header
  .overlay.section
    .inner
      include header

block content
  .section
    .inner
      #content
        != yield
      #sidebar
        include sidebar
      .clearfix