.section#work_with_us
  .inner
    if booking_section
      if booking_open
        h2 Book now!
        p Get in touch and arrange this workshop today!
        a.button.button_green(href='#{booking_link}') Book now
      else
        h2 Enquire Now!
        p Get in touch and arrange this workshop today!
        a.button.button_green(href='/contact') Enquire now
    else
      h2 Work With Us
      p Regardless of whether your project is big or small, if there's clever functionality using JavaScript in a browser or the server, drop us a line to hire us.
      a.button(href='/contact') Contact us
footer.section
  .inner
    .copyright
      p
        strong &copy; 2014 Left Logic Ltd. All rights reserved.
      p Registered Company No. 05926047
    .contact
      p
       strong: a(href="mailto:info@leftlogic.com") info@leftlogic.com
       strong +44 (0) 1273 557744
      p
       small Call times: 9.30am - 5.30pm UK timezone
    .clearfix
script(src='/js/leftlogic.js')
