a.logo(href='/')
  img(src='/img/logo.png', alt='Left Logic')

nav
  ul
    -var selected = '/' + current.path.join('/');
    -var menu = { 'Home': '/', 'Hiring': '/hiring', 'Training': '/training', 'Contact': '/contact' };

    each val, key in menu
      if selected.indexOf(val) === 0
        li
          a.active(href=val)= key
      else
        li
          a(href=val)= key
.clearfix