nav
  ul
    -var selected = '/' + current.path.join('/');
    each val, key in menu
      li
        if val === '/'
          if selected === '/index'
            a.active(href=val)= key
          else
            a(href=val)= key
        else if selected.indexOf(val) === 0
            a.active(href=val)= key
        else
            a(href=val)= key