.sidebar_section
  h6 Newsletter Signup
  p If you want to be the first to hear of upcoming training and events, subscribe to our newsletter.
  form(action='https://tinyletter.com/leftlogic', method='post')
    input(type='email', name='email', id='email', placeholder='Email Address')
    input.button(type='submit', value='Signup')