.sidebar_section
  h6 Upcoming Workshop
  p 5th November 2015:<br />
    a(href='https://leftlogic.stagehq.com/events/3452') Mastering devtools (plus free ffconf pass)<br />
  a.button(href='https://leftlogic.stagehq.com/events/3452') Book now!