-var selected = '/' + current.path.join('/');

if selected.indexOf('/training') === 0 && selected !== '/training/index'
  a(href='/contact').sidebar_section.sidebar_section_green
    h6 Book Now!
    p Get in touch and arrange this workshop today!

.sidebar_section
  h6 Upcoming Workshop
  p 1st January 2014:<br />
    a(href='/training/debug') Debug, and know thy tools<br />
  <a href='/training/debug' class='button'>Book now!</a>

.sidebar_section
  h6 Newsletter Signup
  p If you want to be the first to hear of upcoming training and events, subscribe to our newsletter.
  input(type='email', name='email', id='email', placeholder='Email Address')
  input.button(type='submit', value='Signup')