.sidebar_section
  h6 Upcoming Workshops
  ul
    li
      a(href='#') Debug and know thy tools
    li
      a(href='#') Get up and running with Node
    li
      a(href='#') jQuery for designers

.sidebar_section
  h6 Recent Work
  ul
    li
      a(href='#') JS Bin
    li
      a(href='#') nodemon
    li
      a(href='#') Full Frontal
    li
      a(href='#') Förbind
    li
      a(href='#') Remote-Tilt
    li
      a(href='#') HTML5 Demos

.sidebar_section
  p This is some text