.sidebar_section
  h6 Upcoming Workshops
  ul
    li Debug and know thy tools
    li Get up and running with Node
    li jQuery for designers

.sidebar_section
  h6 Recent Work
  ul
    li JS Bin
    li nodemon
    li Full Frontal
    li Förbind
    li Remote-Tilt
    li HTML5 Demos

.sidebar_section
  p This is some text