if booking_section
  if booking_open
    a(href='#{booking_link}').sidebar_section.sidebar_section_green
      h6 Book Now!
      p Get in touch and arrange this workshop today!
  else
    a(href='/contact').sidebar_section.sidebar_section_green
      h6 Enquire Now!
      p Get in touch and arrange this workshop today!

if fourohfour_drawings
  .sidebar_section
    h6 Previous Drawings
    p A selection of other 404 images people have drawn:
    ul#others
      li
        img(src="http://leftlogic.com/images/generated/approved/1328612572.png", alt="")
      li
        img(src="http://leftlogic.com/images/generated/approved/1360736588.png", alt="")
      li
        img(src="http://leftlogic.com/images/generated/approved/1338564453.png", alt="")
      li
        img(src="http://leftlogic.com/images/generated/approved/1360738464.png", alt="")

if !fourohfour_drawings
  .sidebar_section
    h6 Upcoming Workshop
    p 2nd April 2014:<br />
      a(href='/training/debug') Debug, and know thy tools<br />
    a.button(href='/training/debug') Book now!

  .sidebar_section
    h6 Newsletter Signup
    p If you want to be the first to hear of upcoming training and events, subscribe to our newsletter.
    form(action='https://tinyletter.com/leftlogic', method='post')
      input(type='email', name='email', id='email', placeholder='Email Address')
      input.button(type='submit', value='Signup')
