/** Reset **/
/* Eric Meyer - Credit: http://meyerweb.com/eric/tools/css/reset/index.html */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
a:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
section, aside, header, footer, nav{
  display: block;
}

/** Fonts **/
@font-face {
  font-family: "Dierama";
  src: url("/assets/fonts/TFDieReg.ttf");
  font-weight: normal;
}

/** Global Styles **/
body {
  height: 100%;
  background-image: url("/assets/images/bg-grid.gif");
  background-color: #FFF;
  font-family: Georgia, "Time New Roman", serif;
  font-size: 0.875em;     /* 14px */
  line-height: 1.2858;    /* 18px */
  color: #646567;
}

h1, h2, h3 {
  font-family: "Dierama", Georgia, "Time New Roman", serif;
  color: #FF4D00;
}

a,
a:link,
a:visited {
  color: #FF4D00;
}
a:hover,
a:focus,
a:active {
  color: #008F69;
}
a.alt,
a.alt:link,
a.alt:visited {
  color: #008F69;
}
a.alt:hover,
a.alt:focus,
a.alt:active {
  color: #FF4D00;
}

strong{
  font-weight: bold;
}

/** Helpers **/
.alt {
  color: #008F69;
}

/** Structure & General **/
.wrapper {
  width: 960px;
  margin: 0 auto;
  border-left: 20px solid #FFF8EC;
  border-right: 20px solid #FFF8EC;
  background-image: url("/assets/images/bg-texture.jpg");
  background-position: 0 50%;
  background-repeat: repeat-y;
  overflow: hidden;
}

.main {
  display: block;
  float: left;
  width: 590px;
  margin-left: 30px;
  border: 1px dotted #FFF;
  border-top: none;
}
nav {
  padding: 0 30px;
  background-color: #FFF1DA;
  border-bottom: 1px dotted #F24D00;
  overflow: hidden;
}
.main section {
  padding: 40px 30px;
  background-color: #FFF;
}

aside {
  float: right;
  width: 280px;
  margin-right: 30px;
}
aside header {
  padding-top: 3.5714em;    /* 50px */
  text-align: center;
}

footer {
  padding-top: 45px;
  clear: both;
}
footer section {
  padding: 30px 0 30px 60px;
}
footer .fat-footer {
  background-color: #FFF8EC;
  border: 1px dotted #FF4D00;
  overflow: hidden;
}
footer .legal {
  padding-top: 20px;
  color: #FFF;
}

/** Navigation **/
nav ul li {
  float: left;
  padding-right: 20px;
  line-height: 3.5714em;    /* 50px */
  
}
nav ul li a,
nav ul li a:link,
nav ul li a:visited {
  font-family: "Dierama", Georgia, "Time New Roman", serif;
  font-size: 1.1428em;      /* 16px */
  text-decoration: none;
}
nav ul li a.selected,
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
  text-decoration: underline;
}
nav ul li a.selected {
  color: #008F69;
}

/** Sidebar **/
aside section {
  margin: 25px;
  border: 1px dotted #FFF;
}
aside section div {
  position: relative;
  background-color: #FFF;
}
aside section div div{
  padding: 10px 0;
  font-family: "Dierama", Georgia, "Time New Roman", serif;
  font-size: 1.1428em;      /* 16px */
  border: 1px solid #FFF;
  background-color: #008F69;
  color: #FFF;
  text-align: center;
}
aside section h1 {
  padding: 10px 0;
  font-size: 1.1428em;      /* 16px */
  background-color: #FFF1DA;
  color: #008F69;
  text-align: center;
  border-bottom: 1px dotted #F24D00;
}

/** Footer **/
.fat-footer section {
  width: 170px;
  float: left;
  padding: 0;

}
.fat-footer .vcard,
.legal .aside {
  float: right;
  width: 260px;
  margin-right: 30px;
  padding-left: 20px;
}
.fat-footer h1 {
  font-size: 1.1428em;      /* 16px */
  margin-bottom: 25px;
}
.fat-footer h1 strong {
  letter-spacing: -0.1em;
  color: #FF5F00;
}
.fat-footer a,
.fat-footer a:link,
.fat-footer a:visited {
  text-decoration: none;
  color: #646567;
}
.fat-footer a:hover,
.fat-footer a:focus,
.fat-footer a:active {
  text-decoration: underline;
  color: #FF4D00;
}
.fat-footer .vcard a,
.fat-footer .vcard a:link,
.fat-footer .vcard a:visited {
  display: inline-block;
  margin-top: 1em;
  padding-right: 0.5em;
  text-decoration: underline;
  color: #FF4D00;
}
.fat-footer .vcard a:hover,
.fat-footer .vcard a:focus,
.fat-footer .vcard a:active {
  color: #008F69;
}
.fat-footer .vcard a.alt:visited {
  color: #008F69;
}
.fat-footer .vcard a.alt:active {
  color: #008F69;
}
.legal p {
  float: left;
  font-size: 0.8571em;      /* 12px */
}
























