/** Reset **/
/* Eric Meyer - Credit: http://meyerweb.com/eric/tools/css/reset/index.html */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
a:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* HTML5 Defaults */
section, aside, header, footer, nav {
  display: block;
}

/** Fonts **/
@font-face {
  font-family: "Dierama";
  src: url("/assets/fonts/TFDieReg.ttf");
  font-weight: normal;
}

/** Global Styles **/
body {
  height: 100%;
  background-image: url("/assets/images/bg-grid.gif");
  background-color: #FFF;
  font-family: Georgia, "Time New Roman", serif;
  font-size: 0.875em;     /* 14px */
  line-height: 1.2858;    /* 18px */
  color: #646567;
}

h1, h2, h3 {
  font-family: "Dierama", Georgia, "Time New Roman", serif;
  color: #008F69;
}

a,
a:link,
a:visited {
  color: #FF4D00;
}
a:hover,
a:focus,
a:active {
  color: #008F69;
}
a.alt,
a.alt:link,
a.alt:visited {
  color: #008F69;
}
a.alt:hover,
a.alt:focus,
a.alt:active {
  color: #FF4D00;
}

strong{
  font-weight: bold;
}

.main p:first-child,
.main h2 + p {
  margin-top: 0;
}

/** Helpers **/
.lede { 
  color: #FF4D00
}
.alt {
  color: #FF4D00;
}

/** Structure & General **/
.wrapper {
  width: 960px;
  margin: 0 auto;
  border-left: 20px solid #FFF8EC;
  border-right: 20px solid #FFF8EC;
  background-image: url("/assets/images/bg-texture.jpg");
  background-position: 0 50%;
  background-repeat: repeat-y;
  background-color: #EE6702;
  overflow: hidden;
}

.main {
  display: block;
  float: left;
  width: 590px;
  margin-left: 30px;
}
nav {
  padding: 0 30px;
  background-color: #FFF1DA;
  border-bottom: 1px dotted #F24D00;
  overflow: hidden;
}
.main .content {
  margin-top: 25px;
  border: 1px dotted #FFF;
}

aside {
  float: right;
  width: 280px;
  margin-right: 30px;
}
.motif aside{ /* For pages on which the motif appears */
  padding-bottom: 236px;
}
aside header {
  padding-top: 3.5714em;    /* 50px */
  text-align: center;
}

footer {
  position: relative;
  padding-top: 45px;
  clear: both;
}
footer div {
  padding: 30px 0 30px 60px;
}
footer .fat-footer {
  background-color: #FFF8EC;
  border: 1px dotted #FF4D00;
  overflow: hidden;
}
footer .legal {
  padding-top: 20px;
  color: #FFF;
}

#motif{
  position: absolute;
  background-image: url('../images/motif.png');
  background-repeat: no-repeat;
  top: -236px;
  right: -30px;
  width: 268px;
  height: 281px;
}

/** Navigation **/
nav ul li {
  float: left;
  padding-right: 20px;
  line-height: 3.5714em;    /* 50px */
  
}
nav ul li a,
nav ul li a:link,
nav ul li a:visited {
  font-family: "Dierama", Georgia, "Time New Roman", serif;
  font-size: 1.1428em;      /* 16px */
  text-decoration: none;
}
nav ul li a.selected,
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
  text-decoration: underline;
}
nav ul li a.selected {
  color: #008F69;
}

/** Sidebar **/
aside section {
  margin: 25px;
  border: 1px dotted #FFF;
}
aside section div {
  position: relative;
  background-color: #FFF;
}
aside section .block-link,
aside section .block-link:link,
aside section .block-link:visited {
  display: block;
  padding: 10px 0;
  font-family: "Dierama", Georgia, "Time New Roman", serif;
  font-size: 1.1428em;      /* 16px */
  border: 1px solid #FFF;
  background-color: #008F69;
  color: #FFF;
  text-align: center;
  text-decoration: none;
}
aside section .block-link:hover,
aside section .block-link:focus,
aside section .block-link:active {
  background-color: #FF4D00;
}
aside section h1 {
  padding: 10px 0;
  font-size: 1.1428em;      /* 16px */
  background-color: #FFF1DA;
  color: #008F69;
  text-align: center;
  border-bottom: 1px dotted #F24D00;
}
aside section ul {
  padding: 0 25px;
}
aside section ul li {
  border-top: 1px dotted #F24D00;
  line-height: 2.8;       /* ~ 40px */
  text-align: center;
}
aside section ul li:first-child {
  border-top: none;
}

/** Footer **/
.fat-footer section {
  width: 170px;
  float: left;
  padding: 0;
}
.fat-footer .vcard,
.legal .aside {
  float: right;
  width: 260px;
  margin-right: 30px;
  padding-left: 20px;
}
.fat-footer h1 {
  font-size: 1.1428em;      /* 16px */
  margin-bottom: 25px;
}
.fat-footer h1 strong {
  letter-spacing: -0.1em;
}
.fat-footer a,
.fat-footer a:link,
.fat-footer a:visited {
  text-decoration: none;
  color: #646567;
}
.fat-footer a:hover,
.fat-footer a:focus,
.fat-footer a:active {
  text-decoration: underline;
  color: #FF4D00;
}
.fat-footer .vcard a,
.fat-footer .vcard a:link,
.fat-footer .vcard a:visited {
  display: inline-block;
  margin-top: 1em;
  padding-right: 0.5em;
  text-decoration: underline;
  color: #FF4D00;
}
.fat-footer .vcard a:hover,
.fat-footer .vcard a:focus,
.fat-footer .vcard a:active,
.fat-footer .vcard a.alt,
.fat-footer .vcard a.alt:link,
.fat-footer .vcard a.alt:visited {
  color: #008F69;
}
.fat-footer .vcard a.alt:hover,
.fat-footer .vcard a.alt:focus,
.fat-footer .vcard a.alt:active {
  color: #FF4D00;
}
.legal p {
  float: left;
  font-size: 0.8571em;      /* 12px */
}

/** Main **/
.sub-section,
.sub-section-alt,
.portfolio,
.workshop {
  background-image: url('../images/bg-gradient.png');
  background-repeat: repeat-x;
  background-color: #FFF;
}
.sub-section,
.sub-section-alt {
  padding: 40px 30px; 
}
.portfolio,
.workshop {
  padding: 40px 0;
  overflow: hidden;
}
.sub-section-alt {
  background-image: none;
}

/* Main Typhography & Details */
.main h1 {
  font-size: 2.2857em;      /* 32px */
  margin-bottom: 0.65625em; /* 21px */
}
.main h2 {
  font-family: Georgia, "Time New Roman", serif;
  font-size: 1em;      /* 14px */
  margin: 0;
}
.main p {
  margin-top: 0.5em;        /* 7px  */
  margin-bottom: 1em;       /* 14px */
}
.main img {
  border: 1px dotted #FF4D00;
}

/** Portfolio Sections **/
.portfolio .large,
.portfolio .medium,
.portfolio .small {
  clear: both;
}

/* Portfolio - Large */
.portfolio .large section {
  margin: 0 30px;
}
.portfolio .large header {
  width: 160px;
  float: left;
  padding: 30px 0;
}
.portfolio .large div {
  width: 360px;
  float: right;
  padding: 30px 0;
}

/* Portfolio - Medium */
.portfolio .medium section {
  width: 188px;
  float: left;
  margin-left: 12px;
}
.portfolio .medium section:first-child {
  margin-left: 0;
}
.portfolio .medium div {
  padding: 30px;
}

/* Portfolio - Small */
.portfolio .small section {
  width: 108px;
  float: left;
  margin-left: 12px;
}
.portfolio .small section:first-child {
  margin-left: 0;
}
.portfolio .small div {
  padding: 10px;
}

/** Workshop Section **/
.workshop section{
  width: 410px;
  float: right;
  padding-right: 30px;
}
























