/** Reset **/
/* Eric Meyer - Credit: http://meyerweb.com/eric/tools/css/reset/index.html */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
a:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* HTML5 Defaults */
section, aside, header, footer, nav {
  display: block;
}

/** Fonts **/
/*@font-face {
  font-family: "Dierama";
  src: url("/assets/fonts/TFDieReg.ttf");
  font-weight: normal;
}
*/
@font-face {
  font-family: 'Dierama';
  src: url('/assets/fonts/TFDieReg.eot');
  src: local('TFDierama'), local('TFDierama-Regular'), url('/assets/fonts/TFDieReg.woff') format('woff'), url('/assets/fonts/TFDieReg.ttf') format('truetype'), url('/assets/fonts/TFDieReg.svg#TFDierama-Regular') format('svg');
  font-weight: normal;
}

html * {
  color-profile: sRGB;
}

/*@font-face {
  font-family: 'leftdierma1';
  src: url('/assets/fonts/tfdiereg-webfont-1.eot');
  src: local('☺'), url('/assets/fonts/tfdiereg-webfont-1.woff') format('woff'), url('/assets/fonts/tfdiereg-webfont-1.ttf') format('truetype'), url('/assets/fonts/tfdiereg-webfont-1.svg#webfontmP096MRF') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'leftdierma2';
  src: url('/assets/fonts/tfdiereg-webfont-2.eot');
  src: local('☺'), url('/assets/fonts/tfdiereg-webfont-2.woff') format('woff'), url('/assets/fonts/tfdiereg-webfont-2.ttf') format('truetype'), url('/assets/fonts/tfdiereg-webfont.svg-2#webfontmP096MRF') format('svg');
  font-weight: normal;
  font-style: normal;
}*/



/** Global Styles **/
body {
  height: 100%;
  background-image: url("/assets/images/bg-grid.gif");
  background-color: #FFF;
  font-family: Georgia, "Time New Roman", serif;
  font-size: 0.875em;     /* 14px */
  line-height: 1.2858;    /* 18px */
  color: #646567;
}

h1{
  font-family: "Dierama", "leftdierma1", "leftdierma2", Georgia, "Time New Roman", serif;
  color: #FF4D00;
}
h1 .alt, h2, legend {
  color: #008F69;
}

a,
a:link,
a:visited {
  color: #FF4D00;
}
a:hover,
a:focus,
a:active {
  color: #008F69;
}
a.alt,
a.alt:link,
a.alt:visited,
.lede a,
.lede a:link,
.lede a:visited {
  color: #008F69;
}
a.alt:hover,
a.alt:focus,
a.alt:active
.lede a:hover,
.lede a:focus,
.lede a:active {
  color: #FF4D00;
}

strong {
  font-weight: bold;
}
em {
/*  color: #FF4D00;*/
/*  color: #646567;*/
  font-style: italic;
}

small {
  font-size: 0.85em;
}

/** Forms **/
form div {
  margin-top: 0.5em;        /* 7px  */
  margin-bottom: 1em;       /* 14px */
}
form div.first {
  margin-top: 0;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 7px;
  color: #008F69;
  cursor: pointer;
}
label.small {
  font-weight: normal;
  color: #646567;
  font-size: 0.85em;
}
input,
textarea {
  padding: 0.195em;        /* 3.5px i.e. 7px total across top and side */
  font-family: Georgia, "Time New Roman", serif;
  font-size: 1.2858em;    /* 18px */
  line-height: 1;         /* 18px */
  color: #646567;
  border: 1px dotted #FF4D00;
}

input[type=radio],
input[type=checkbox] {
  border: 0px;
}

.text-input {
  width: 50%;
}
textarea {
  width: 520px;
}
.button,
.button:link,
.button:visited {
  width: 30%;
  display: inline-block;
  padding: 10px 0;
  font-family: "Dierama", "leftdierma1", "leftdierma2", Georgia, "Time New Roman", serif;
  font-size: 1.1428em;      /* 16px */
  border: 1px dotted #FFF;
  background-color: #008F69;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.button:hover,
.button:focus,
.button:active {
  background-color: #FF4D00;
}
fieldset {
    padding: 0.5em;     /* approx 6px */
    border: 1px dotted #DEDEDE;
}
fieldset legend{
  padding: 0.5em;
}
fieldset textarea {
  width: 514px;
}
.main form ul, .main form ol,
.main nav ul{
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
}

/** Helpers **/
.lede {
  color: #FF4D00
}
.alt {
  color: #FF4D00;
}

/** Structure & General **/
#wrapper {
  width: 960px;
  margin: 0 auto;
  border-left: 20px solid #FFF1DA;
  border-right: 20px solid #FFF1DA;
  background-image: url("/assets/images/bg-texture.jpg");
  background-position: 0 50%;
  /*background-size: cover;*/
  background-repeat: repeat-y;
  background-color: #EE6702;
  overflow: hidden;
}
.green #wrapper {
  background-image: url("/assets/images/bg-texture-green.jpg");
  background-color: #008F69;
}


.main {
  display: block;
  float: left;
  width: 590px;
  margin-left: 30px;
}
nav {
  padding: 0 30px;
  background-color: #FFF1DA;
  border-bottom: 1px dotted #F24D00;
  overflow: hidden;
}

.green nav {
  border-bottom: 1px dotted #008F69;
}

.main .content {
  margin-top: 25px;
  border: 1px dotted #FFF;
  clear: both;
}

aside {
  float: right;
  width: 280px;
  margin-right: 30px;
}
.motif aside{ /* For pages on which the motif appears */
  padding-bottom: 236px;
}
aside header {
  padding-top: 3.5714em;    /* 50px */
  text-align: center;
}

footer {
  position: relative;
  padding-top: 45px;
  clear: both;
}
footer div {
  padding: 30px 0 30px 60px;
}
footer .fat-footer {
  background-color: #FFF1DA;
  border: 1px dotted #FF4D00;
  overflow: hidden;
}

.green .fat-footer {
  border: 1px dotted #008F69;
}

footer .legal {
  padding-top: 20px;
  color: #FFF;
}

thead th {
  font-weight: bold;
}

#motif{
  position: absolute;
  background-image: url('../images/motif.png');
  background-repeat: no-repeat;
  top: -236px;
  right: -60px;
  width: 268px;
  height: 281px;
}

/** Navigation **/
.main nav ul {
  padding: 0;
}

nav ul li {
  float: left;
  padding-right: 22px;
  line-height: 3.5714em;    /* 50px */

}
nav ul li a,
nav ul li a:link,
nav ul li a:visited {
  font-family: "Dierama", "leftdierma1", "leftdierma2", Georgia, "Time New Roman", serif;
  font-size: 1.1428em;      /* 16px */
  text-decoration: none;
}

nav ul li a.selected,
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
  text-decoration: underline;
}

/* RS: changed whilst there's not a lot of nav */
nav ul li a.selected {
  color: #008F69;
}

/** Sidebar **/
aside section {
  margin: 25px;
  border: 1px dotted #FFF;
}
aside section div {
  position: relative;
  background-color: #FFF;
}

aside section p {
  margin: 0 20px;
}

aside section label {
  font-weight: normal;
  margin-top: 7px;
}

aside section img {
  display: block;
}

aside section .block-link,
aside section .block-link:link,
aside section .block-link:visited {
  width: 100%;
  cursor: pointer;
  display: block;
  padding: 10px 0;
  font-family: "Dierama", "leftdierma1", "leftdierma2", Georgia, "Time New Roman", serif;
  font-size: 1.1428em;      /* 16px */
  border: 1px solid #FFF;
  background-color: #008F69;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  margin: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
aside section .block-link:hover,
aside section .block-link:focus,
aside section .block-link:active {
  background-color: #FF4D00;
}
aside section h2 {
  padding: 10px 0;
  font-size: 1.1428em;      /* 16px */
  background-color: #FFF1DA;
  color: #008F69;
  text-align: center;
  border-bottom: 1px dotted #F24D00;
}

.green aside section h2 {
  border-bottom: 1px dotted #008F69;
}

aside section ul {
  background: #fff;
  padding: 0 25px;
}
aside section ul li {
  border-top: 1px dotted #F24D00;
  line-height: 2.8;       /* ~ 40px */
  text-align: center;
}
aside section ul li:first-child {
  border-top: none;
}
aside section .big-grey-box-of-greyness { /* TODO: This needs a better name */
  border: 1px solid #FFF;
  width: 226px;
  height: 191px;
  background-color: #EAEAE9;
}
/** Footer **/
.fat-footer section {
  width: 170px;
  float: left;
  padding: 0;
}
.fat-footer .vcard,
.legal .aside {
  float: right;
  width: 260px;
  margin-right: 30px;
  padding-left: 20px;
}
.fat-footer h2 {
  font-size: 1.1428em;      /* 16px */
  margin-bottom: 25px;
}
.fat-footer h2 strong {
  letter-spacing: -0.1em;
}
.fat-footer a,
.fat-footer a:link,
.fat-footer a:visited {
  text-decoration: none;
  color: #646567;
}
.fat-footer a:hover,
.fat-footer a:focus,
.fat-footer a:active {
  text-decoration: underline;
  color: #FF4D00;
}
.fat-footer .vcard a,
.fat-footer .vcard a:link,
.fat-footer .vcard a:visited {
  display: inline-block;
  margin-top: 1em;
  padding-right: 0.5em;
  text-decoration: underline;
  color: #FF4D00;
}
.fat-footer .vcard a:hover,
.fat-footer .vcard a:focus,
.fat-footer .vcard a:active,
.fat-footer .vcard a.alt,
.fat-footer .vcard a.alt:link,
.fat-footer .vcard a.alt:visited {
  color: #008F69;
}
.fat-footer .vcard a.alt:hover,
.fat-footer .vcard a.alt:focus,
.fat-footer .vcard a.alt:active {
  color: #FF4D00;
}
.legal p {
  float: left;
  font-size: 0.8571em;      /* 12px */
}

/** Main **/
.sub-section,
.sub-section-alt,
.portfolio,
.workshop,
.profile {
  background-image: url('../images/bg-gradient.png');
  background-repeat: repeat-x;
  background-color: #FFF;
}
.sub-section,
.sub-section-alt {
/*  padding: 40px 30px; */
  padding: 30px; /* RS: change */
}
.portfolio,
.workshop {
  padding: 40px 0;
  overflow: hidden;
}
.sub-section-alt {
  background-image: none;
}

/* Main Typhography & Details */
.main h1 {
  font-size: 2.2857em;      /* 32px */
  margin-bottom: 0.65625em; /* 21px */
}
.main h2,
legend {
  font-family: Georgia, "Time New Roman", serif;
  font-size: 1.4em;      /* 14px */
  margin: 0;
}

.main section > h2 {
  margin-top: 1.2em;
}

.main section > h2:first-child {
  margin-top: 0;
}

#home h2 {
  font-size: 100%;      /* 14px */
}
.main h3 {
  font-weight: bolder;
  margin-top: 0;
}
.main p {
  margin-top: 0.5em;        /* 7px  */
  margin-bottom: 1em;       /* 14px */
}
.main p.first {
  margin-top: 0;
}
.main img {
  border: 1px dotted #FF4D00;
}
.green .main img {
  border: 1px dotted #008F69;
}
.main .logos img{
  border: none;
  padding-left: 12px;
  padding-bottom: 12px;
}
.main ul,
.main ol {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 20px;
  margin-top: 0.5em;        /* 7px  */
  margin-bottom: 1em;       /* 14px */
}
.main ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.main dd {
  margin: 1em;              /* 14px */
  margin-left: 2em;         /* 28px */
  margin-top: 0.5em;        /* 7px  */
}

code {
  font-size: 14px; /* sizing text in <code> spans with ems is weird */
  color: #FF4D00;
}

blockquote {
  font-family: "Helvetica Neu", Arial, Helvetica, sans-serif;
  margin: 0.5em;              /* 7px */
  padding: 0.5em;             /* 7px */
/*  border: 1px dotted #DEDEDE;*/
  color: #525355;
}

/* Code block styles */
/* Based on - http://paulrobertlloyd.com/colophon/markup */
/* TODO: This could probably be styled better */
.main ol.code {
  margin: 1.5em 0 1.5em 3em;
  list-style-position: outside;
  list-style-type: decimal-leading-zero;
  font-family: Monaco, "Courier New", Courier, monospace;
  color: #E5E5E5;
}
.main ol.code li {
  background-color: #FFFAF1;
  border-top: 1px solid #FFF;
  padding: 0.1em 0.5em;
}

/* Table styles */
table {
  width: 520px;
  margin-top: 0.5em;        /* 7px  */
  margin-bottom: 1em;       /* 14px */
}
table caption {
  padding: 0.5em;
  color: #008F69;
}
td, th {
  padding: 0.5em;
  border: 1px dotted #DEDEDE;
}
th {
  background-color: #FFFAF1;
}

/** Portfolio Sections **/
.portfolio .large,
.portfolio .medium,
.portfolio .small {
  clear: both;
}

.portfolio h1 {
  font-size: 24px;
  padding: 0 30px;
}

/* Portfolio - Large */
.portfolio .large section {
  margin: 0 30px;
}
.portfolio .large header {
  width: 160px;
  float: left;
  padding: 30px 0;
}
.portfolio .large div {
  width: 360px;
  float: right;
  padding: 30px 0;
}

/* Portfolio - Medium */
.portfolio .medium section {
  width: 188px;
  float: left;
  margin-left: 12px;
}
.portfolio .medium section:first-child {
  margin-left: 0;
}
.portfolio .medium div {
/*  padding: 30px;*/
  padding: 20px;
}

/* Portfolio - Small */
.portfolio .small section {
  width: 108px;
  float: left;
  margin-left: 12px;
}
.portfolio .small section:first-child {
  margin-left: 0;
}
.portfolio .small div {
  padding: 10px;
}

/** Workshop Section **/
.workshop > img {
  float: left;
}

.workshop section {
  width: 410px;
  float: right;
  padding-right: 30px;
}

/** Profile Section **/
.profile img {
  float: right;
}
.profile section {
  width: 340px;
  padding: 40px 30px;
}

/** Blog & Comments **/
.main h1.blog-heading {
  margin: 0;
}
.comments {
  width: 440px;
  float: right;
  border: 1px dotted #FFF;
  border-bottom: 0;
  margin-top: -1px;
}
.blog-motif {
  width: 442px;
  height: 216px;
  float: right;
  background-image: url('../images/blog-motif.png');
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 25px;
}
.comments section {
  background-color: #FFF;
  overflow: hidden;
}
.comments section.alt {
  background-color: #FFF1DA;
  color: #646567;
}
.comments p {
  margin: 1em;       /* 14px */
}
.comments img{
  float: left;
  border: 0;
  margin-right: 1em;
}


/** CSS3 Selectors Crazyness **/
/* One day we can do this for real */
.main .logos img:nth-of-type(4n-3),
.main .logos img.fournminusthree {
  padding-left: 0px;
}
abbr[title] {
  border-bottom: 1px dotted #646567;
}

select {
  font-size: 16px;
}

section p:last-child {
  margin-bottom: 0;
}

h1+p {
  font-size: 18px;
}

:invalid {
/*  background: rgba(218, 0, 0, .1);*/
  border-color: #7A0000;
}

:valid {
  border-color: #008F69;
}

:invalid + em:empty:after {
  content: ' (required)';
  color: #c00;
}

canvas.game {
  position: absolute;
  top: 0;
  left: 0;
/*  z-index: -1;
  height: 100%;
  width: 100%;
*/}

#wrapper {
  z-index: 1;
  position: relative;
}

blockquote cite:before {
  content: '— ';
}

blockquote p:first-of-type:before {
  content: '\201C';
}

blockquote p:last-of-type {
  margin-bottom: 4px;
}

blockquote p:last-of-type:after {
  content: '\201D';
}


blockquote[cite]:before {
  content: '\201C';
}

blockquote[cite]:after {
  white-space: pre;
  content: "\201D\A — " attr(cite) "";
  font-size: 12px;
  color: #646567;
  font-family: Georgia, 'Time New Roman', serif;
}

blockquote footer {
  padding-top: 0;
}

img.plain,
.green .main img.plain {
  border: 0;
  margin: 0 auto;
  display: block;
  -webkit-box-shadow: 0 0 5px #ccc;
}

img.simple,
.green .main img.simple {
  border: 0;
}

/* entity lookup blog post specific */
div.entity {
  clear: both;
  margin: 0;
  padding: 10px 0 5px 0;
/*  border-bottom: 1px solid #ccc;*/
  position: relative; /* required for disabled block */
}

div.compress div.entity {
  padding: 3px 0;
}

div.entity div.html {
  float: left;
  margin-bottom: 20px;
  font-size: 300%;
  width: 60px;
  background: url(/images/greyed.gif);
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

div.compress div.entity div.html {
  margin-bottom: 0;
  background: none;
  margin-top: 3px;
  font-size: 110%;
}

div.entity div.detail {
  float: right;
  width: 465px;
}

div.entity div.detail div.code,
div.entity div.detail div.entityCode,
div.entity div.detail div.entityName {
  float: left;
  width: 100px;
  font-size: 150%;
}

div.entity div.detail div.entityCode {
  width: 150px;
}

div.compress div.entity div.detail div {
  font-size: 100%;
}

div.entity div.description {
  margin-top: 5px;
}

div.compress div.entity div.description {
  display: none;
}

div.compress div.entity div.detail div.clear {
  clear: none!important;
}

div.entity div.tools img {
  margin: 0 15px;
  cursor: pointer;
}

.disabled {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  float: right;
  height: 100%;
  width: 100%;
  background: #000;
}

form.editable {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  float: right;
  height: 100%;
  padding: 3px;
}

form.editable label {
  color: #fff;
  display: inline;
  margin-left: 5px;
  margin-top: 7px;
}

form.editable input {
  font-size: 100%;
  padding: 3px;
  width: 250px;
}

div.submit {
  border: 1px solid #ccc;
  border-top: 0;
  background: #eee;
  padding: 0.5em 1em;
}

div.submit p {
  float: left;
  width: 460px;
}

div.submit input {
  border: 2px outset #999;
  float: right;
}

a.bookmarklet {
  color: #fff;
  background: #FF4D00;
  padding: 10px 20px;
  border: 1px solid #F53500;
  border-radius: 30px;
  margin: 10px 0;
  -webkit-box-shadow: 0 0 3px #000;
  font-size: 150%;
  display: inline-block;
}

a.bookmarklet:hover {
  -webkit-box-shadow: 0 0 10px #000;
  border: 1px solid #E51F00;
}

#lookupForm div.floatL {
  float: left;
  width: 320px;
}

#lookupForm fieldset.floatR {
  float: right;
  width: 150px;
}

#lookupForm label {
  float: none;
  display: inline;
}

#entitylookup fieldset {
  border: 1px solid #ccc;
}

#entitylookup h2 {
  padding-top: 20px;
  clear: left;
}

#play {
  position: relative;
  background-image: url("/assets/images/bg-grid.gif");
  height: 400px;
  border: 1px solid #aaa;
  cursor: crosshair;
}

#others h2 {
  padding: 10px 0;
}

#others img:hover {
  border-style: solid;
  cursor: pointer;
}

#missing h1 {
  text-overflow: ellipsis;
}

p.error {
  background: #FDB9B9;
  font-weight: bold;
  border: 2px solid #F84142;
  padding: 10px;
  text-shadow: 0 1px 1px #fff;
  color: #573C3D;
}

p.success {
  background: #B2FFA0;
  font-weight: bold;
  border: 2px solid #94E773;
  padding: 10px;
  text-shadow: 0 1px 1px #fff;
  color: #3B592F;
}

time {
  font-style: italic;
}

.quotes article {
  padding-top: 20px;
  border-top: 1px solid #ccc;
  margin-top: 40px;
}

/* World Domination Tour */
#tour-map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
}

#tour-map div {
  margin: 0;
  padding: 0;
  border: 0;
}

#tour fieldset > p:first-of-type {
  margin-top: 0;
}

.checkboxOptions label {
  display: block;
  float: left;
  margin-right: 20px;
}

.checkboxOptions label:last-child {
  margin-right: 0;
}

.checkboxOptions:after {
  content: '.';
  display: block;
  visibility: hidden;
  height: 1%;
}

fieldset + fieldset {
  margin-top: 40px;
}

aside section ul li p {
  line-height: 1.8;
  padding: 10px 0px;
  text-align: left;
}

#tourbooking tbody td:nth-child(5) {
  text-align: center;
  padding: 0;
}

#tourbooking tbody td:nth-child(5) a {
  padding: 10px;
  display: block;
}

#tourbooking tbody tr.hover {
  background: #008F69;
  color: #fff;
}

#tourbooking tbody tr.hover a {
  color: #fefefe;
}

tr.splitter {
  border-top: 2px solid #DEDEDE;
}

.availability {
  padding-left: 20px;
  background: url(/images/cal.png) no-repeat left center;
}

.calltoaction {
  border: 1px dotted #ccc;
  padding: 10px;
}

.calltoaction h3 {
  font-size: 1.2em;
}

.calltoaction a {
  font-size: 1.2em;
}

.calltoaction li {
  list-style: none;
  margin-bottom: 10px;
}

.calltoaction .button {
  font-family: georgia;
  padding: 2px;
  margin-right: 10px;
}

#others img {
  display: block;
  float: left;
}

#others {
  overflow: hidden;
}

.fixed {
  position: fixed;
  top: 0;
}
.sticky {
  width: 228px;
}
.focus {
  border-left: 30px solid #EE6702;
  padding: 0 20px;
}

.green .focus {
  border-left-color: #008F69;
}

@media screen and (max-width: 820px) {
  #wrapper { border: 0; }
  .main { width: 100%; margin: 0;}
  #wrapper { width: 100%; box-sizing: border-box; display: block; margin-right: 30px; float: none; position: relative;}
  .main .content, .sub-section-alt { width: 100%; box-sizing: border-box;}
  #motif, aside { display: none; }

  .workshop img { display: none; }
  .workshop section { width: auto; padding-left: 30px; }

  nav {
    background: #FFF1DA url(/images/favicon.png) no-repeat 98% 10px;
    background-size: auto 30px;
  }
  
  textarea { width: 100%; }
}

@media screen and (max-width: 320px) {
  nav, .sub-section, .sub-section-alt {
    padding: 10px;
  }
  nav ul li {
    line-height: 16px;
    padding-right: 10px;
  }
  nav {
    background-position: 98% 2px;
  }
  
  .portfolio, .workshop {
    padding: 20px 0;
  }
  
  .workshop section {
    padding: 0 10px;
  }
  
  .portfolio .medium section:first-child {
    margin-left: 12px;
  }
  
  .portfolio .medium section {
    width: 100%;
  }
  
  .portfolio .medium img {
    float: left;
    width: 100px;
    height: 100px;
  }
  
  .portfolio .medium div {
    margin-left: 100px;
  }
}