extends layout

block header
  .overlay.section
    .inner
      != partial('../_partials/header')

block content
  .section
    .inner
      #content
        != yield
      #sidebar
        != partial('../_partials/sidebar')
      .clearfix
