doctype
html(id="#{version}")
  head
    title #{title ? title + ' - ' + site_title : site_title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    link(rel='icon', href='/img/favicon.png')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
    block head
      if environment == "production"
        script.
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '#{analytics}']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
          })();
  body(id="#{current.path[0]}-page")
    header
      block header
    block content
    include ../_partials/footer
    block footer
