doctype
html
  head
    title #{title ? title + ' - ' + site_title : site_title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel='icon', href='/img/favicon.png')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    block head
  body
    header
      block header
    block content
    .section#work_with_us
      .inner
        h2 Work With Us
        p Regardless of whether your project is big or small, if you want your website to feature the most sublime user experience possible then drop us a line to hire us.
        a.button(href='/contact') Contact us &rarr;
    footer.section
      .inner
        .copyright
          p
            strong &copy; 2014 Left Logic Ltd. All rights reserved.
          p Registered Company No. 05926047
        .contact
          p <strong><a href="mailto:info@leftlogic.com">info@leftlogic.com</a></strong>&nbsp;&nbsp;|&nbsp;&nbsp;<strong>+44 (0) 1273 557744</strong>
        .clearfix
