doctype
html
  head
    title #{title ? title + ' - ' + site_title : site_title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    link(rel='icon', href='/img/favicon.png')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    block head
  body
    header
      block header
    block content
    != partial('_partials/footer')
