extends layout

block header
  .overlay.section
    .inner
      include ../_partials/header

block content
  .section
    .inner
      #content
        != yield
      #sidebar
        include ../_partials/sidebar
      .clearfix
